.main__content {
    background-color: #e5e6e9;
   display: flex;
   flex-direction: column;
   width: 85%;
   margin-left: 15%;
   min-height: 100vh;
   height:  auto;
   .header{
        align-self: flex-start;
        z-index: 3;
       width: 100%;
       background-color: white;      
       border: 0px solid rgba(0,0,0,.125);
       box-shadow: 0 0 10px rgba(0,0,0,0.13), 0 1px 3px rgba(0,0,0,0.20);
       padding: 8px;
       height: auto;
       .header__navbar{
        height: 2vw;
        display: flex;
        align-items: center ;
            .sidebar__button{
                width: 1.3vw;
                height: 1.3vw;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .tool__button{
                margin-left: auto;
                width: 5.3vw;
                height: 1.3vw;
                display: flex;
                align-items: center;
                font-size: 1vw;
                text-transform:uppercase;
                img{
                    margin-left: 1vw;
                    width: 1.3vw;
                    height: auto;
                }
            }
   
   }
        .tool__content{
            width: 100%;
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s,max-height 0.3s linear, opacity 0.4s linear;
            .tool__group{
                    display: flex;
            }
            // .tool__header { 
                
            // }
            .tool__component {
                min-height: 1px;
                    width: 100%;
                    padding: 0 5%;
                    margin-bottom: 10px ;
                .filter__name {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                  
                    .filter_name--col{
                        display: flex;
                        text-align: center;
                        
                        .form__group {
                            position: relative;
                            margin:10px 15px 10px ;
                            width: 60%;                                
                            text-align: center;
                            .MuiInputBase-root {
                                height: auto !important;
                                max-height: 100px !important;
                            }
                            .MuiChip-root {
                                height: 20px !important;
                                font-size: 12px;
                            }
                            .MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"], .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
                                padding-right: 0px !important; 
                            }
                            .MuiAutocomplete-endAdornment {
                                display: none;
                            }
                            .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
                                padding: 5px !important;
                            }
                            .MuiCheckbox-colorPrimary.Mui-checked {
                                color: #e82997 !important;
                                }
                            .MuiAutocomplete-tag {
                                max-width: calc(100%-2px) !important;
                                width: 180px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            } 
                         
                          .form__field {   
                            margin-top: 5px;
                            width: auto;
                            border: 0;
                            outline: 0;
                            font-size: 0.7rem;
                            color: #4e4f50;
                            padding: 2px 0;
                            background: transparent;               
                            margin-left: 2px;                                                 
                          }                
                          label {  
                            font-size: 1vw;
                            font-weight: 600;
                            color: $button-hover ;
                            background-color: white;
                            font-family: 'Montserrat', sans-serif !important;
                          }
                          path {
                            color:$border-color ;
                            width: 80% !important;
                          }
                        
                        
                    }
                   
                    }
                }
                .filter__time {
                    display: flex;
                    width: 100%;
                    height: 69px;
                    margin-top: 5px;
                    .select__time {
                        position: relative;
                        margin:10px 15px 10px ;
                        width: 10%;
                        height: auto;
                        border: 1px solid #C4C4C4 ;
                        text-align: center;
                        border-radius: 4px;
                    }
                    .time__date {
                        display: flex;
                        width: 60%;
                        .time__group{
                            position: relative;
                            padding: 5px 10px;
                            margin:10px 15px 10px ;
                            width: 50%;
                            border-radius: 4px;
                            border: 1px solid #C4C4C4 ;
                            height: auto;
                            .time__field {
                                position: absolute;
                                left: 50%;
                                top: 50%;          
                                transform: translate(-50%,-50%);
                                width: 80%;
                                border: 0;
                                outline: 0;
                                font-size: 1rem;
                                color: #4e4f50;
                                margin-top: 2px;
                                background: transparent;
                                transition: border-color 0.2s;
                                
                          
                              }
                            .time__label {
                                position: absolute;
                                top: -10px;
                                left: 5px;
                                display: block;
                                padding: 0 5px;                              
                                font-size: 1vw;
                                color: $button-hover ;
                                background-color: white;
                              } 
                              .time__field{
                                &:required,&:invalid { box-shadow:none; }
                              } 
                        }
                    }
                    .br {
                        position: relative;
                        
                        margin:10px 0px 10px;
                        border-radius: 4px;
                        background-color: #C4C4C4;
                        width: 2px;
                        height: auto;
                    }
                    .tool__top {
                        position: relative;
                        padding: 5px 10px;
                        margin:10px 15px 10px;
                        border-radius: 4px;
                        width: calc(100% /3);
                        border: 1px solid #C4C4C4 ;
                        height: auto;
                        text-align: center;
                    }
    
                }
                .group__tool{
                    display: flex;
                    height: 69px;
                    .tool__group {
                        position: relative;
                        padding: 5px 10px;
                        margin:10px 15px 10px;
                        border-radius: 4px;
                        width: calc(100% /3);
                        border: 1px solid #C4C4C4 ;
                        height: auto;
                        text-align: center;
                    }
                    .group__button{
                        display: flex;
                        margin-left: auto;
                        button {
                            margin:5px 5px 10px ;
                            position: relative;
                            background-color:$button;
                            padding: 5px 10px;
                            // margin:10px 15px 10px;
                           
                            border-radius: 4px;
                            width: 6vw;
                            color: $font-color-2;
                            border: 1px solid #C4C4C4 ;
                            height: auto;
                            img {
                                width: 30%;
                                height: 30%;
                                margin: auto 0;
                            }
                        }
                    }
                   
                }
            }
       
            
        }
        .tool--active{
            visibility: visible;          
            opacity: 1;
            height: auto;
            max-height: 2000px;
            margin: 0 auto;
        }
       
}
   .content__item{
       // position: relative;  
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       padding: 0 1vw;
       .card{
           box-shadow: 0 0 1px rgba(0,0,0,0.13), 0 1px 3px rgba(0,0,0,0.20);
           margin-bottom: 1rem;
           min-width: 0;
           word-wrap: break-word;
           background-color: #fff;
           background-clip: border-box;
           border: 0 solid rgba(0,0,0,.125);
           border-radius: 0.25rem;
           padding: 1.25rem;
       }
   
       .item{
            width: 100%;
              
           .header__item{
                display: flex;
                padding: 0.5vw 1vw;
                border-bottom: 0.5px solid $border-color;
                align-items: center;
                .title__item{
                  font-size: 1vw;
                  text-transform: capitalize;      
                }
                .button__item{
                    margin-left: auto;
                    display: flex;
                    .group__chart{
                        display: flex;
                        justify-content:space-between;
                      
                        .active__chart{
                            background-color:  $button !important;
                            img{
                                filter: $icon-hover;
                            }
                        }
                        .chart__button{
                            background-color: transparent;
                            border:none;
                            cursor: pointer;
                            width: 4vw;
                            padding: 0.5vw 1vw;
                            margin-right: 0.5vw;
                            border-radius: 5px;                         
                            
                            img{
                                width: 2.0vw;
                            }
                            
                            &:hover {
                                background-color:  $button;
                            
                                img{
                                    filter: $icon-hover;
                                }
                                        
                            }
                        }
                     
                    }
                    #print{
                        width: 4vw;
                        padding: 0.5vw 1vw;
                        margin-right: 0.5vw;
                        border-radius: 5px; 
                        img{
                            width: 2vw;
                        }
                        &:hover {
                            background-color:  $button;
                        
                            img{
                                filter: $icon-hover;
                            }
                                    
                        }   
                    }
                }
         }
       }
   }

   .content__chart {
       .chart{   
        margin-top: 1vw;
        .chart__item{
            display: flex;
            justify-content: center;
        
           #chart{
            width: 75%;           
            
            canvas {
                object-fit: contain;
                            
            }
        }
       }
    }
      
   }
   .content__table {
      .table {
        .table__item{
            flex-grow: 1  ;
        }
      }
    
     
     
   }
//    .MuiAutocomplete-popper{
//     display: none !important;
//   }
   
}