
.sidebar{
    background-color: #343A40;
     position: fixed;
    width: 15%;
    height: 100%;
    border-right:  1px solid #4B545C;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
    .sidebar__header{  
        border-bottom: 2px solid #4B545C;
        padding:1vw;
        width: 100%;
        position: relative;

        .sidebar__logo{
            width: 10vw;
            height: 5.5vw;
            margin: auto;
               img{
                   width: 100%;
                   height: 100%;                
                   
         } 
        }  
        .sidebar__chart{
            display: flex;
            justify-content:space-around;

             button{
                 background-color: transparent;
                 border:none;
                 cursor: pointer;
                 width: 100%;
                 padding: 1vw;
                 border-radius: 5px;
                 img{
                     width: 2.0vw;
                 }
                 &:hover {
                    background-color: orangered;
                  

              
                    
                }
              

             }
        }
        .sidebar__title{
            display: flex;
            align-items: center;
            position:absolute;
            left: 50%;
            top: 50%;          
            transform: translate(-50%,-50%);
            img{
               
                width: 1.5vw;
            }
            h3{
                margin-left:0.5vw;
               font-size:1.5vw;
               color:white;
            }
           
        }
    } 
    .sidebar__content{
        display: flex;
        position: relative;
        max-height: 100vh;
        height: 30vh;
                .content__type{
                    width: 100%;
                   
                        .content__item{
                            //  display: inline-block;
                             width: 100%;
                             height: auto;
                            
                              .content__btn{  
                                margin:auto;   
                                text-align: left;                    
                                border: none;
                                background-color: transparent;
                                cursor: pointer;
                                width: 100%;
                                height: 100%;
                                font-size:1vw;
                                font-weight: 600;
                                color:white;
                                padding: 1.5vw; 
                                text-transform: capitalize;
                                    &:hover {
                                    background-color: #6C757D;
                                    svg{
                                        color: white;
                                    }
                                        
                                }
                                img {
                                    height: 20px;
                                    width: 20px;
                                    float: right;
                                }

                              }
                              .content__table{
                                display: none;
                                animation: LTR ease 1s;  
                                                                       
                                        li{
                                            padding: auto;
                                                .submenu__btn{
                                                    text-align: center;
                                                    font-weight:600;
                                                    top:0;
                                                    left: 0;
                                                    transform: none;
                                                    border-top: 1px solid #4B545C;
                                                    border-bottom: 1px solid #4B545C;
                                                    text-transform: capitalize;
                                                    &:hover {
                                                        background-color: orangered;
                                                        color: black;
                                                            
                                                    }
                                                }
                                                .content__field{
                                                    display: none;
                                                    animation: TTB ease 0.5s; 
                                                
                                                        li{
                                                            color:white;                                                        
                                                            margin: 1vw 1.5vw;
                                                            border-bottom:none;
                                                            display:flex ;
                                                            .nameField {
                                                                width: 100%;
                                                                height: 100%;
                                                                color: white;
                                                                font-size:0.9vw;
                                                                margin-left: 5px;
                                                                text-transform: capitalize;
                                                                
                                                            }
                                                            input {                    
                                                                width: 0.9vw;
                                                                height: 0.9vw;
                                                                margin: auto;
                                                                }
                                                        }
                                                    
                                                   
                                                }    
               
                                        }
                                                               
                            }
                          
                            .content__submenu{
                                background-color: #343A40;
                                left: 100%;
                                position:absolute;
                                width: 100%;
                                overflow-y: scroll;
                                max-height: 300px;
                                top: 0px;
                                border-right:  1px solid #4B545C;
                                border-left:  1px solid #4B545C;
                                box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
                                0 4px 6px -2px rgba(71, 63, 79, 0.16);
                               
                                        li{
                                            padding: 0px    ;
                                        }
                                 
                                        &::-webkit-scrollbar{
                                            opacity: 1;
                                            width: 2px;
                                            color: #343A40;
                                            height: 2px;
                                        }
                            }

                        
    
    

                        }                  
                }    
        
    }
    .sidebar__footer{
        border-top: 2px solid #4B545C;
        padding:1vw;
        width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
                button{
                    width: 10vw;
                    margin: 0.5vw 1vw;
                    padding: 1vw;
                    border:  1px solid transparent;
                    border-radius:10px;
                    background-color: rgb(225, 92, 25);
                    color:black;
                    font-size: 1.5vw;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover{
                        background-color: orangered;
                    }

                }
    }

}

.show{
    display: block !important;

}

.active{
  background-color: #6C757D !important;
}

.table__active{
    background-color:orangered!important;
    color: black !important;
}
.height--small{
    height: 5vw;
}

.main__content {
    background-color: #e5e6e9;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 15%;
    width: 85%;
    height: 100%;
   
    z-index: -1;
    .content__chart {
        position: relative;
        height: 60%;
      
        margin-top: 10px;
        .chart{
            width:65%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            h1{
                width: 34vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 3vw;
                text-transform:uppercase;
            }
            canvas {
              height: 100% !important;
              object-fit: contain;
            }
          
        }
        button{
            position: relative;
            left: 85%;
            bottom:0;
            top:90%;
            width: 10vw;
            padding: 1vw;
            border:  1px solid transparent;
            border-radius:10px;
            background-color: rgb(145, 130, 122);
            color:rgb(245, 236, 236);
            font-size: 1.0vw;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color: rgb(91, 88, 85);
            }

        }
    }
    .content__table {
        position: relative;
        height: 40%;
        margin: 5px 0;
       .table {
        position: absolute;
        padding:5px 10%;
        height: 100%;
        width: 100%;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
       
       }
       h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 3vw;
        text-transform:uppercase;
    }
      
    }
}

@keyframes LTR {
    from {
      opacity: 0;
      transform: translateX(-5px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes TTB {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }