
$primary-bg: #343a40;
$second-bg: #1C262D;
$border-color: #4f5962;
$font-color:#9cb9ca;
$font-color-2: #F4F4F4;
$button:#0072E9;
$button-hover:#17a3e8f3;
$icon-hover: brightness(0) invert(1);

@import './content.scss';
@import './sidebar.scss';








