$primary-bg: #343a40;
$second-bg: #1C262D;
$border-color: #4f5962;
$font-color:#9cb9ca;
$font-color-2: #F4F4F4;
$button:#0072E9;
$button-hover:#17a3e8f3;
$icon-hover: brightness(0) invert(1);

.sidebar{
    background-color: $primary-bg;
     position: fixed;
    width: 15%;
    height: 100%;
    border-right:  1px solid $border-color;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
    z-index: 2;
    .sidebar__header{  
        border-bottom: 1px solid $border-color;
        padding:1vw;
        width: 100%;
        position: relative;

        .sidebar__logo{
            width: 10vw;
            height: 5.5vw;
            margin: auto;
               img{
                   width: 100%;
                   height: 100%;                
                   
         } 
        }  
        .sidebar__chart{
            display: flex;
            justify-content:space-between;
             
             .active__chart{
                background-color:  $button !important;
                img{
                    filter: $icon-hover;
                }
             }
             .char_button{
                 background-color: transparent;
                 border:none;
                 cursor: pointer;
                 width: 4vw;
                 padding: 0.5vw 1vw;
                 border-radius: 5px;
                 
                 
                 img{
                     width: 2.0vw;
                 }
                 
                 &:hover {
                    background-color:  $button;
                   
                     img{
                        filter: $icon-hover;
                     }
                            
                }
             }
        }
      
           
           .tool__button{
                 display: flex;
                 justify-content: flex-start;
                 align-items: center;
                margin: auto;
                text-align: center;
                width: 100%;
                height: 100%;
                background-color: transparent;
               
                border:  none;
                border-radius: 2px;
                cursor: pointer;
                font-size: 1vw;
                font-weight: 600;
                padding: 0.5vw 1.5vw;
                p{
                    color: $font-color;   
                    flex: 1;
                }
                
                img{
                    justify-self: flex-end;
                    width: 1.5vw;
                    height: 1.5vw;                  
                    float: right;
                    
                }

                
                
            }
        .sidebar__title{
            display: flex;
            align-items: center;
            position:absolute;
            left: 50%;
            top: 50%;          
            transform: translate(-50%,-50%);
            img{
               
                width: 1.5vw;
            }
            h3{
                margin-left:0.5vw;
               font-size:1.5vw;
               color:$font-color;
            }
           
        }
    } 
    .tool--header{
        padding: 0.5vw 1.5vw;
        height: 3vw ;
            &:hover{
                background-color: $button;
                button{
                    p{
                     color: $font-color-2 !important;
                    }
                  }
                 img{
                    filter: $icon-hover;
                }
            }
    }
    .height--small{
        height: 5vw;
    }
    .open--active{
                background-color: $button;
                 button{
                   p{
                    color: $font-color-2 !important;
                   }
                 }
                 img{
                    filter: $icon-hover;
                }
    }
    .sidebar__content{
        display: flex;
        position: relative;
        max-height: 50vw;
        height: 40vh;
                .content__type{
                    width: 100%;
                    .active{
                        background-color: $second-bg !important;
                        color:$font-color-2 !important;
                        img{
                            filter: $icon-hover;
                        }
                      }
                     
                        .content__item{
                            //  display: inline-block;
                             width: 100%;
                             height: auto;
                             padding: 0.5vw;
                              .content__btn{  
                                margin:auto;   
                                text-align: left;                    
                                border: none;
                                background-color: transparent;
                                cursor: pointer;
                                width: 100%;
                                height: 100%;
                                font-size:0.8vw;
                                font-weight: 600;
                                color: $font-color;
                                padding: 1vw 1.5vw; 
                                text-transform: capitalize;
                                    &:hover {
                                    background-color: $second-bg;
                                    color: $font-color-2;
                                    img{
                                        filter: $icon-hover;
                                    }

                                    
                                        
                                }
                                img {
                                    height: 1vw;
                                    width: 1vw;
                                    float: right;
                                }

                              }
                              .show{
                                display: block !important;
                                
                            
                            }
                              .content__table{
                                display: none;
                                animation: LTR ease 1s;  
                                    
                                        li{
                                            padding: auto;
                                                .submenu__btn{
                                                    text-align: center;
                                                    font-weight:600;
                                                    top:0;
                                                    left: 0;
                                                    transform: none;                                           
                                                    text-transform: capitalize;
                                                    border-top: 1px solid $border-color;
                                                    
                                                    img{
                                                        height: 1vw;
                                                        width: 1vw;
                                                        float: right;
                                                         transition: transform 1s;
                                                       
                                                    }
                                                    &:hover {
                                                        background-color: $button;
                                                        color: $font-color-2;
                                                         img{
                                                             filter: $icon-hover;
                                                         }
                                                            
                                                    }
                                                  
                                                    
                                                  
                                                }
                                                .table__active{
                                                    background-color: $button!important;
                                                    color: $font-color-2 !important;
                                                        img{
                                                            transform: rotate(180deg);
                                                            filter: $icon-hover;
                                                        }
                                                  
                                                }
                                               
                                                .content__field{
                                                    display: none;
                                                    animation: TTB ease 0.5s; 
                                                
                                                        li{                                                    
                                                            // margin: 1vw 1.5vw;
                                                            border-bottom:none;
                                                             padding: 0.5vw;
                                                             button{

                                                                &:hover{
                                                                    background-color: rgb(91, 88, 85);
                                                                    border-radius: 2px;
                                                                }
                                                             }
                                                            .active{
                                                                background-color: rgb(91, 88, 85) !important;
                                                            }
                                                            .name__field {
                                                                border: none;
                                                                background-color: transparent;
                                                                cursor: pointer;
                                                                display: flex;
                                                                text-align: left;
                                                                width: 100%;
                                                                height: 100%;
                                                                color: $font-color-2;
                                                                font-size:0.7vw;
                                                                padding: 0.5vw;
                                                                text-transform: capitalize;
                                                              
                                                                input {                    
                                                                    width: 1vw;
                                                                    height: 1vw;
                                                                    }
                                                                label{
                                                                        color: $font-color-2;
                                                                        margin-left: 4px;
                                                                       
                                                                       
                                                                 }
                                                                
                                                               
                                                            }
                                                             
                                                         
                                                            ul{
                                                                margin-left: 3vw;
                                                                display: none;                                                             
                                                                animation: TTB ease 0.5s; 
                                                                li{
                                                                    display:flex;
                                                                    align-items: center;
                                                                    .child--field{
                                                                     width: 5vw;
                                                                      
                                                                    }
                                                                    input {                    
                                                                        width: 1vw;
                                                                        height: 1vw;

                                                                        }
                                                                }
                                                            }
                                                           
                                                        }
                                                    
                                                   
                                                }    
               
                                        }
                                                               
                            }
                          
                            .content__submenu{
                                background-color: #343A40;
                                left: 100%;
                                position:absolute;
                                width: 100%;
                                overflow-y: scroll;
                                max-height: 20vw;
                                top: 0px;
                                border-right:  1px solid $border-color;
                                border-left:  1px solid $border-color;
                                box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
                                0 4px 6px -2px rgba(71, 63, 79, 0.16);
                                z-index: 2;     
                                        
                               
                                        li{
                                            padding: 0px    ;
                                        }
                                 
                                        &::-webkit-scrollbar{
                                            opacity: 1;
                                            width: 2px;
                                            color: #343A40;
                                            height: 2px;
                                        }
                            }

                        
    
    

                        }                  
                }    
        
    }
    .sidebar__footer{
        border-top: 2px solid $border-color;
        padding:1vw;
        width: 100%;
        position: relative;
                button{
                    width: 10vw;
                    margin: 0.5vw 1vw;
                    padding: 0.5vw;
                    border:  1px solid transparent;
                    border-radius:10px;
                    background-color: $button;
                    color:black;
                    font-size: 1.5vw;
                    font-weight: 600;
                    cursor: pointer;
                    text-align: center;
                    p{
                        width: 100%;
                        height:100%;
                        color: $font-color;

                    }
                    &:hover{
                        background-color: $button-hover;
                        p{
                            filter: $icon-hover;
                        }
                    }

                }
    }

}




.main__content {
     background-color: #e5e6e9;
    display: flex;
    flex-direction: column;
    // left: 15%;
    width: 85%;
    z-index: -2;
    margin-left: 15%;
    min-height: 100vh;
    height:  auto;
    .content__item{
        // position: relative;  
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .card{
            box-shadow: 0 0 1px rgba(0,0,0,0.13), 0 1px 3px rgba(0,0,0,0.20);
            margin-bottom: 1rem;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: 0.25rem;
            padding: 1.25rem;
        }
    
        .item{
            margin-top: 1vw;
    
            
            h1{
                width: 45vw;
                font-size: 3vw;
                text-transform:uppercase;
            }
         
        }
    }

    .content__chart {
       
        .chart{    
            width: 60vw;
                
            canvas {
              object-fit: contain;
                          
            }
          
        }
        .chart__tool{
            padding: 0;
            position: fixed;
            z-index: 2;
            left: 15%;
            top: 6%;
             display: flex;
             height: 18vw;
             background-color: #343A40;
        
            
            .tool--active{
                display: block !important;
                    
            }
            .tool__list{ 
                display:none; 
                animation: RTL ease 1s;  
                border-right: 1px solid $border-color;  
                ul{     
                    display: flex;
                    flex-direction: column;             
                    li{
                        height: 4.5vw;
                        padding: 1vw 1.5vw;
                        .filter__group{
                            display: flex;
                            width: 100%;
                            height: 100%;
                            align-items: center;
                            justify-content: center;
                            p{
                                width: 5.5vw;
                                font-size: 1.0vw;
                                color: $font-color-2;
                            }
                           
                                         
                        }
                        select{
                            width:  100%;
                            height: 100%;
                            margin: auto;
                            font-size: 1vw;
                            text-align: center;
                            border-radius:2px;
                            border:1px solid  $border-color;
                            padding: 0vw 0.5vw;
                            resize: vertical;
                            
                        }
                      
                        .filter__border{
                            border-right:1px solid $border-color;
                            border-left:1px solid $border-color;
                        }
                        .filter__button{
                            
                            width: 6vw;
                            padding:0 0.5vw;

                           
                            button{
                                background-color: transparent;
                                width: 100%;
                                height: 3vw;
                                border-radius: 0;
                                border: none;
                                margin: auto;
                                font-size: 1vw;
                                
                                img{
                                width: 35%;
                                height: 57%;
                                }
                                &:hover{
                                    background-color: $button;
                                    border-radius: 2px;
                                    img{
                                        filter: $icon-hover;
                                    }
                                }
                            }
                        }
                      
                    }
                    .border--item{
                        border-bottom: 1px solid $border-color;  
                    }
                } 
               
            }      
           
           
          
           
        }
       
    }
    .content__table {


       .table {
           width: 60vw;
           flex-grow: 25%;
       }
      
      
    }
}


@keyframes LTR {
    from {
      opacity: 0;
      transform: translateX(-5px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes TTB {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes RTL {
    from {
      opacity: 0;
      transform: translateX(5px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


