
.sidebar{
    background-color: $primary-bg;
     position: fixed;
    width: 15vw;
    height: 100%;
    border-right:  1px solid $border-color;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
    z-index: 4;
    transition: width 0.3s linear;
    .sidebar__header{  
        border-bottom: 1px solid $border-color;
        padding:1vw;
        width: 100%;
        display: flex;
        flex-direction: column;

        .sidebar__logo{
            display: flex;
            align-self: center;
            justify-content: center;
            width: 10vw;
            height: 5.5vw;
            margin: auto;
            transition: width 0.2s linear, height 0.2s linear;
               img{
                   width: 100%;
                   height: 100%;                
                   
         } 
        }         
        .sidebar__title{
            display: flex;
            align-items: center;
            img{
                margin-left:0.3vw;
                width: 1.5vw;
            }
            h3{
                overflow: hidden;
                 text-overflow: clip; 
                margin-left:0.5vw;
                height: 1.4vw;
               font-size:0.9vw;
               color:$font-color;
               transition: opacity 0.5s linear, 0.3s visibility ease;
            }
           
        }
    } 
   
    .open--active{
                background-color: $button;
                 button{

                    color: $font-color-2 !important;
                 }
                 img{
                    filter: $icon-hover;
                }
    }
    .hidden{
        visibility: hidden  ;
    }
    .sidebar__content{
        display: flex;
        position: relative;
        max-height: 70vw;
        min-height: 30vh;
                .content__type{
                    width: 100%;
                    .active{
                        background-color: $second-bg !important;
                        color:$font-color-2 !important;
                        p{
                            color:$font-color-2 !important;
                        }   
                        img{
                            filter: $icon-hover;
                        }
                      }
                     
                        .content__item{
                             width: 100%;
                             height: auto;
                             padding: 0.5vw 0;
                             
                              .content__btn{  
                                display: flex; 
                                align-items: center;
                                text-align: left;                    
                                border: none;
                                border-radius: 6px;
                                background-color: transparent;
                                cursor: pointer;
                                width: 100%;
                                height: 100%;
                                color: $font-color;
                                padding: 1vw 0.5vw;
                                transition: width 0.2s linear, height  1s linear;
                                    p{
                                        font-size:0.7vw;
                                        font-weight: 600;
                                        color: $font-color;
                                        height: 0.8vw;
                                        text-transform: capitalize;
                                         overflow: hidden;
                                        text-overflow: clip; 
                                        opacity: 1;
                                        transition: opacity 0.5s linear, 0.3s visibility ease;
                                
                                    }
                                    &:hover {
                                    background-color: $second-bg;
                                    color: $font-color-2;
                                    p{
                                        color: $font-color-2;
                                    }
                                    img{
                                        filter: $icon-hover;
                                    }

                                    
                                        
                                }
                                img {
                                    height: 1vw;
                                   
                                }
                                .cate__item{
                                    width: 1vw;
                                    margin-right: 0.5vw;
                                }
                                .arrow__item{
                                    margin-left: auto;
                                    opacity: 1;
                                }

                              }
                          
                              .content__table{
                                display: flex;
                                flex-direction: column;         
                                visibility: hidden;
                                opacity: 0;
                                transition: visibility 0s, opacity 0.7s ease-in-out;
                                background-color: #343A40;
                                position:absolute;
                                width: 100%;
                                top: -2.7vw;
                                text-align: left;
                                border-right:  1px solid $border-color;
                                border-left:  1px solid $border-color;
                                box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
                                0 4px 6px -2px rgba(71, 63, 79, 0.16);  
                                        img{
                                            width: 3vw;
                                            align-self: center;
                                        }
                                        .submenu__item{
                                                display: flex;
                                                max-height: 0vw;
                                                font-size:0;
                                                .submenu__btn{
                                                    opacity: 0;
                                                    font-size:0;
                                                   
                                                }
                                                .name__field {                                       
                                                    opacity: 0;
                                                    font-size:0;
                                                   
                                                }
                                        }
                                                               
                            }
                          
                            .show{       
                                     
                                visibility: visible;
                                opacity:1;
                                left: 14vw;
                                max-height: 40vw;
                                width: 12.79vw;
                                .submenu__item{
                                    min-height: 3vw;
                                    max-height: 35vw;                                  
                                    flex-direction: column;
                                    width: 100%;

                                    .submenu__btn{
                                        text-align: left;
                                        font-weight:600;
                                        top:0;
                                        left: 0;
                                        transform: none;                                           
                                        text-transform: capitalize;
                                        border-top: 1px solid $border-color;
                                        border-radius: 0;                              
                                        opacity: 1 ;
                                        font-size: 0.8vw;
                                        height: 3vw;
                                        background-color: $primary-bg;
                                        
                                        img{
                                            height: 1vw;
                                            width: 1vw; 
                                            margin-left: auto;
                                             transition: transform 1s;
                                           
                                        }
                                        &:hover {
                                            background-color: $button;
                                            color: $font-color-2;
                                             img{
                                                 filter: $icon-hover;
                                             }
                                                
                                        }
                                      
                                        
                                      
                                    }
                                    .table__active{
                                        background-color: $button!important;
                                        color: $font-color-2 !important;
                                            img{
                                                transform: rotate(180deg);
                                                filter: $icon-hover;
                                            }
                                      
                                    }                                           
                                    .content__field{
                                        background-color: $primary-bg;
                                        overflow-y: scroll;
                                        visibility: hidden;
                                        opacity: 0;                                       
                                        max-height:0;
                                        transition: visibility 0s,  max-height 0.4s linear, opacity 0.3s linear;
                                        width: 100%;
                                        &::-webkit-scrollbar{
                                            opacity: 1;
                                            width: 2px;
                                            color: #343A40;
                                            height: 2px;
                                        }
                                            li{                                                    
                                                // margin: 1vw 1.5vw;
                                                border-bottom:none;
                                                 padding: 0.5vw;
                                                 button{

                                                    &:hover{
                                                        background-color: rgb(91, 88, 85);
                                                        border-radius: 2px;
                                                    }
                                                 }
                                                .active{
                                                    background-color: rgb(91, 88, 85) !important;
                                                }
                                                .name__field {
                                                    border: none;
                                                    opacity: 1 ;
                                                    font-size: 0.7vw ;
                                                    background-color: $primary-bg;
                                                    cursor: pointer;
                                                    display: flex;
                                                    text-align: left;
                                                    width: 100%;
                                                    height: 100%;
                                                    color: $font-color-2;                                                
                                                    padding: 0.5vw;
                                                    text-transform: capitalize;
                                                  
                                                    input {                    
                                                        width: 1vw;
                                                        height: 1vw;
                                                        }
                                                    label{
                                                            color: $font-color-2;
                                                            margin-left: 4px;
                                                           
                                                           
                                                     }
                                                    
                                                   
                                                }
                                                 
                                             
                                                ul{
                                                    margin-left: 3vw;
                                                    display: none;                                                             
                                                    li{
                                                        display:flex;
                                                        align-items: center;
                                                        .child--field{
                                                         width: 5vw;
                                                          
                                                        }
                                                        input {                    
                                                            width: 1vw;
                                                            height: 1vw;

                                                            }
                                                    }
                                                }
                                               
                                            }
                                        
                                       
                                    }    
                                    .field__show{
                                        visibility: visible !important;
                                        opacity: 1 !important;
                                        max-height: 27vw;
                                    }
                                  
                                }
                            
                            }
                        
    
    

                        }                  
                }    
        
    }
    .sidebar__footer{
        border-top: 1px solid $border-color;
        padding:1vw 2vw;
        width: 100%;
        position: relative;
                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 0.5vw 0;
                    padding: 0.5vw;
                    border:  1px solid transparent;
                    border-radius:10px;
                    background-color: $button;
                    color:black;
                    cursor: pointer;
                    text-align: center;
                
                    p{  
                        font-size: 1vw;
                        font-weight: 600;
                        height: 2vw;
                        color: $font-color-2;
                        padding: 0.5vw 0;
                        overflow: hidden;
                        text-overflow: clip; 
                    }
                    img {
                        width: 2vw;
                        height: 2vw;
                        margin: auto 0;
                    }
                    &:hover{
                        background-color: $button-hover;
                        p{
                            filter: $icon-hover;
                        }
                    }

                }
    }

}
.sidebar--off{
    width:4vw;
    .sidebar__header{
        padding: 0.5vw;
        .sidebar__logo{
            width: 100%;
            height: 3vw;
        }
        .logo__small{
            width: 3vw !important;
        }
        .sidebar__title{
            img{
                margin-left: 0.8vw;
            }
        }
        .sidebar__content{
            min-height: 20vh;
            .show{
                left: 3.5vw !important;
            }
            .content__btn{
                justify-content: center;
                .cate__item{
                    margin-right: 0px !important; 
                    margin-left: 0.5vw;
                }
                p{
                    width: 0px;
                    font-size: 0!important;
                }
                .arrow__item{
                    width: 0px;
                    height: 0px!important;
                }
               

            }
        }
    }
    
    .hidden{
        visibility: hidden;
        opacity: 0!important;
        height: 0;
    }
    .sidebar__footer{
        padding:0.5vw 0.5vw;
    }
}