
.sidebar{
    background-color: $primary-bg;
     position: fixed;
    width: 15%;
    height: 100%;
    border-right:  1px solid $border-color;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
    z-index: 4;
    .sidebar__header{  
        border-bottom: 1px solid $border-color;
        padding:1vw;
        width: 100%;
        position: relative;

        .sidebar__logo{
            width: 10vw;
            height: 5.5vw;
            margin: auto;
               img{
                   width: 100%;
                   height: 100%;                
                   
         } 
        }         
        .sidebar__title{
            display: flex;
            align-items: center;
            img{
               
                width: 1.5vw;
            }
            h3{
                margin-left:0.5vw;
               font-size:1vw;
               color:$font-color;
            }
           
        }
    } 
   
    .open--active{
                background-color: $button;
                 button{

                    color: $font-color-2 !important;
                 }
                 img{
                    filter: $icon-hover;
                }
    }
    .sidebar__content{
        display: flex;
        position: relative;
        max-height: 70vw;
        min-height: 30vh;
                .content__type{
                    width: 100%;
                    .active{
                        background-color: $second-bg !important;
                        color:$font-color-2 !important;
                        img{
                            filter: $icon-hover;
                        }
                      }
                     
                        .content__item{
                             width: 100%;
                             height: auto;
                             padding: 0.5vw;
                              .content__btn{  
                                margin:auto;   
                                text-align: left;                    
                                border: none;
                                background-color: transparent;
                                cursor: pointer;
                                width: 100%;
                                height: 100%;
                                font-size:0.8vw;
                                font-weight: 600;
                                color: $font-color;
                                padding: 1vw 1.5vw; 
                                text-transform: capitalize;
                                    &:hover {
                                    background-color: $second-bg;
                                    color: $font-color-2;
                                    img{
                                        filter: $icon-hover;
                                    }

                                    
                                        
                                }
                                img {
                                    height: 1vw;
                                    width: 1vw;
                                    float: right;
                                }

                              }
                          
                              .content__table{
                                display: flex;
                                flex-direction: column;
                                visibility: hidden;
                                opacity: 0;
                                transition: visibility 0s, opacity 0.7s ease-in-out;
                                background-color: #343A40;
                                position:absolute;
                                width: 100%;
                                top: -40px;
                                text-align: left;
                                border-right:  1px solid $border-color;
                                border-left:  1px solid $border-color;
                                box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
                                0 4px 6px -2px rgba(71, 63, 79, 0.16);  
                                        img{
                                            width: 3vw;
                                        }
                                        .submenu__item{
                                                min-height: 3vw;
                                                max-height: 35vw;
                                                display: flex;
                                                flex-direction: column;
                                                .submenu__btn{
                                                    text-align: left;
                                                    font-weight:600;
                                                    top:0;
                                                    left: 0;
                                                    transform: none;                                           
                                                    text-transform: capitalize;
                                                    border-top: 1px solid $border-color;
                                                    opacity: 0;
                                                    font-size:0;
                                                    height: 3vw;
                                                    
                                                    
                                                    img{
                                                        height: 1vw;
                                                        width: 1vw; 
                                                        float: right;
                                                         transition: transform 1s;
                                                       
                                                    }
                                                    &:hover {
                                                        background-color: $button;
                                                        color: $font-color-2;
                                                         img{
                                                             filter: $icon-hover;
                                                         }
                                                            
                                                    }
                                                  
                                                    
                                                  
                                                }
                                                .table__active{
                                                    background-color: $button!important;
                                                    color: $font-color-2 !important;
                                                        img{
                                                            transform: rotate(180deg);
                                                            filter: $icon-hover;
                                                        }
                                                  
                                                }                                           
                                                .content__field{
                                                    overflow-y: scroll;
                                                    visibility: hidden;
                                                    opacity: 0;                                       
                                                    max-height:0;
                                                    transition: visibility 0s,  max-height 0.4s linear, opacity 0.3s linear;
                                                    &::-webkit-scrollbar{
                                                        opacity: 1;
                                                        width: 2px;
                                                        color: #343A40;
                                                        height: 2px;
                                                    }
                                                        li{                                                    
                                                            // margin: 1vw 1.5vw;
                                                            border-bottom:none;
                                                             padding: 0.5vw;
                                                             button{

                                                                &:hover{
                                                                    background-color: rgb(91, 88, 85);
                                                                    border-radius: 2px;
                                                                }
                                                             }
                                                            .active{
                                                                background-color: rgb(91, 88, 85) !important;
                                                            }
                                                            .name__field {
                                                                border: none;
                                                                opacity:0;
                                                                background-color: transparent;
                                                                cursor: pointer;
                                                                display: flex;
                                                                text-align: left;
                                                                width: 100%;
                                                                height: 100%;
                                                                color: $font-color-2;
                                                                font-size:0;
                                                                padding: 0.5vw;
                                                                text-transform: capitalize;
                                                              
                                                                input {                    
                                                                    width: 1vw;
                                                                    height: 1vw;
                                                                    }
                                                                label{
                                                                        color: $font-color-2;
                                                                        margin-left: 4px;
                                                                       
                                                                       
                                                                 }
                                                                
                                                               
                                                            }
                                                             
                                                         
                                                            ul{
                                                                margin-left: 3vw;
                                                                display: none;                                                             
                                                                li{
                                                                    display:flex;
                                                                    align-items: center;
                                                                    .child--field{
                                                                     width: 5vw;
                                                                      
                                                                    }
                                                                    input {                    
                                                                        width: 1vw;
                                                                        height: 1vw;

                                                                        }
                                                                }
                                                            }
                                                           
                                                        }
                                                    
                                                   
                                                }    
                                                .field__show{
                                                    visibility: visible !important;
                                                    opacity: 1 !important;
                                                    max-height: 27vw;
                                                }
               
                                        }
                                                               
                            }
                          
                            .show{                     
                               visibility: visible;
                                opacity:1;
                                left: 13.8vw;
                                max-height: 40vw;
                                    .submenu__btn{
                                        opacity: 1 !important;
                                        font-size: 0.8vw !important;
                                       
                                    }
                                    .name__field {
                                        opacity: 1 !important;
                                        font-size:0.7vw !important;
                                    }
                         
                            
                            }
                        
    
    

                        }                  
                }    
        
    }
    .sidebar__footer{
        border-top: 1px solid $border-color;
        padding:1vw;
        width: 100%;
        position: relative;
                button{
                    display: flex;
                    width: 10vw;
                    margin: 0.5vw 1vw;
                    padding: 0.5vw;
                    border:  1px solid transparent;
                    border-radius:10px;
                    background-color: $button;
                    color:black;
                    font-size: 1.5vw;
                    font-weight: 600;
                    cursor: pointer;
                    text-align: center;
                    p{
                        width: 100%;
                        height:100%;
                        color: $font-color-2;
                        margin: auto 0;
                    }
                    img {
                        width: 20%;
                        height: 20%;
                        margin: auto 0;
                    }
                    &:hover{
                        background-color: $button-hover;
                        p{
                            filter: $icon-hover;
                        }
                    }

                }
    }

}
.sidebar--small{
    .hidden{
        visibility: hidden;
    }
}