
.navbar{
    width: 100%;
    padding: 50px 50px;
    position: absolute;
        ul{
            display: flex;
            .navbar__item{
                margin: 20px;
                .navbar__link{
                    .navbar__text{
                    font-size: 1.5rem;
                    color: white;
                    text-transform: uppercase;
                    position: relative;
                    overflow:hidden;
                    cursor:pointer;
                    width: 100%;
                    &:before {
                        content: "";
                        position: absolute;
                        height: 0.85rem;
                        background-color: orangered;
                        width:100%;
                        margin-top: 2px;
                        border-radius: 2px;
                        bottom: -0.7rem;
                        right: 0;
                        transition: .3s;
                    }
                    &:hover::before {
                        position: absolute;
                        left: 0;
                        width:0; 
                        background-color: aqua;               
                      }
                }
             }
            }
        }
}

.banner{
    // ../../../ là do phải lấy ở thư mục assets chạy local thì nhận, nhưng up lên host ko nhận//
    // background-image: url('../../../assets/images/background.jpg')
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
      .banner__content{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          height: 40vw;
          width: 40vw;
          text-align: center;
             img{
                width: 100%;
                height: auto;
             }
             a{
                 cursor: pointer;
               
                 text-align: center;
                h1{
                    width: 30vw;
                    font-size: 2vw;
                    margin: auto;
                    display: inline-block;
                    padding: 1vw;                 
                    text-transform: capitalize;
                    color: white;
                    border-radius: 10px;
                    /* "to left" / "to right" - affects initial color */
                    background: linear-gradient(to left, orangered 50%, red 50%) right;
                    background-size: 200%;
                    transition: .5s ease-out;
                    &:hover {
                        background-position: left;
                        color: rgb(45, 43, 43);
                    }
                }
               
             }
      }
}